<ul class="nav navbar-nav navbar-right rpad">
	<li><a href=<%="/courses/#{@course.id}"%> title="Return to Course"><i class="fa fa-reply"></i> Course</a></li>
  <li><a href="<%=user_path(user)%>" title="Return to User DashBoard"><i class="glyphicon glyphicon-user"></i> <%=user.username%></a></li>
  <li><%=link_to '',destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out", title:"Logout"%></li>
</ul>