<div class = "container-fluid">
      <div class = "row">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Change color and size, add logo) -->
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html">TeachBack</a>
            </div>
          
        </nav>
      </div>
      <br><br><br>
      <div class = "row">
        <div class = "col-md-7 col-md-offset-1 col-sm-5 col-sm-offset-1">
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                  <%=image_tag("slide1.jpg", alt: "Example Image")%>
                    
                    <div class="container active">
                        <div class="carousel-caption">
                            <h1>MOVE ME</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p><a href="#" class="btn btn-primary btn-large">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <%=image_tag("slide2.jpg", alt: "Example Image")%>
                    <div class="container active">
                        <div class="carousel-caption">
                            <h1>ALL TRANSPORT COVERED</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p><a href="#" class="btn btn-primary btn-large">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <%=image_tag("slide3.jpg", alt: "Example Image")%>
                    <div class="container active">
                        <div class="carousel-caption">
                            <h1>NEW - SAFETY MODE</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p><a href="#" class="btn btn-primary btn-large">Sign up today</a></p>
                        </div>
                    </div>
                </div> 
              </div>   
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
        
        <div class = "col-md-3 col-sm-5">
          <h2>Returning User?</h2>

          <form class="form-horizontal" role="form">
            <div class = "row">
                <div class="form-group ">
                  <div class="col-md-6">
                      <input type="text" class="form-control" id="username" placeholder="Username">
                  </div>
                  <div class="col-md-6">
                      <input type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                </div>
            </div>
            <div class = "row">
              <div class="form-group">
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember Me
                    </label>
                  </div>
                </div>
                  <div class="col-md-6">
                      <a href="#" id="loginButton" class="btn btn-primary btn-large btn-block">Login</a>
                  </div>
              </div>
            </div>
          </form>
          <hr>
          <div class = "row">
            <h2>New to TeachBack?</h2>
          </div>
          <form class="form-horizontal" role="form">
            <div class = "row">
              <div class="form-group ">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="form-group ">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="username1" placeholder="Username">
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="form-group ">
                <div class="col-md-6">
                    <input type="email" class="form-control" id="email1" placeholder="Your E-mail">
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" id="email2" placeholder="Re-enter E-mail">
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="form-group ">
                <div class="col-md-6">
                    <input type="password" class="form-control" id="password1" placeholder="New Password">
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="password2" placeholder="Re-enter Password">
                </div>
              </div>
            </div>
            <div class = "row">
              <div class="form-group">
                
                  <div class="col-lg-12">
                      <a href="#" id="signupButton" class="btn btn-primary btn-large btn-block">Sign Up</a>
                  </div>
              </div>
            </div>
            
          </form>
        </div>     
      </div>
    </div>
  
    <br><hr>
    <footer class="bs-docs-footer" role="contentinfo">
      <div class="container">
        <div class = "row">
          <ul class="bs-docs-footer-links muted">
            <li>TeachBack v0.0.1</li>
            <li>&middot;</li>
            <li><a href="#">About</a></li>
            <li>&middot;</li>
            <li><a href="#">Help</a></li>
            <li>&middot;</li>
            <li><a href="#">Contact Us</a></li>
            <li>&middot;</li>
            <li>&copy; TeachBack 2014</li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(function (){
        $('.carousel').carousel({
          interval: 4000
        });
      })    
    </script>

      

      


      <h2>Find me: TeachBack/app/views/devise/sessions/new.html.erb</h2>