<h1> <%= @course.title %> </h1>
<h4>Enrolled as Instructor</h4>


<a href=<%="/courses/#{@course.id}/lectures/new"%>>Create Lecture</a><br/>
<a href=<%="/courses/#{@course.id}/lectures"%>>Lectures</a>

