




<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>twitter-bootstrap-rails/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb at master · seyhunak/twitter-bootstrap-rails</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub" />
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png" />
    <meta property="fb:app_id" content="1401488693436528"/>

      <meta content="@github" name="twitter:site" /><meta content="summary" name="twitter:card" /><meta content="seyhunak/twitter-bootstrap-rails" name="twitter:title" /><meta content="twitter-bootstrap-rails - Twitter Bootstrap for Rails 3.x - 4 Asset Pipeline" name="twitter:description" /><meta content="https://1.gravatar.com/avatar/752f46a244e2f617b77ea15b6e310a63?d=https%3A%2F%2Fidenticons.github.com%2F0945d048b1de817fa92244e275bbbf68.png&amp;r=x&amp;s=400" name="twitter:image:src" />
<meta content="GitHub" property="og:site_name" /><meta content="object" property="og:type" /><meta content="https://1.gravatar.com/avatar/752f46a244e2f617b77ea15b6e310a63?d=https%3A%2F%2Fidenticons.github.com%2F0945d048b1de817fa92244e275bbbf68.png&amp;r=x&amp;s=400" property="og:image" /><meta content="seyhunak/twitter-bootstrap-rails" property="og:title" /><meta content="https://github.com/seyhunak/twitter-bootstrap-rails" property="og:url" /><meta content="twitter-bootstrap-rails - Twitter Bootstrap for Rails 3.x - 4 Asset Pipeline" property="og:description" />

    <meta name="hostname" content="github-fe139-cp1-prd.iad.github.net">
    <meta name="ruby" content="ruby 2.1.0p0-github-tcmalloc (87c9373a41) [x86_64-linux]">
    <link rel="assets" href="https://github.global.ssl.fastly.net/">
    <link rel="conduit-xhr" href="https://ghconduit.com:25035/">
    <link rel="xhr-socket" href="/_sockets" />


    <meta name="msapplication-TileImage" content="/windows-tile.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="selected-link" value="repo_source" data-pjax-transient />
    <meta content="collector.githubapp.com" name="octolytics-host" /><meta content="collector-cdn.github.com" name="octolytics-script-host" /><meta content="github" name="octolytics-app-id" /><meta content="6C1482A7:3CFA:B6254D1:531CA479" name="octolytics-dimension-request_id" /><meta content="6608792" name="octolytics-actor-id" /><meta content="TeachBackTeam" name="octolytics-actor-login" /><meta content="917e7b57785f0a1b1faecf09422439ba85aceec2c5bc6c6ea9789eee7d3f93e7" name="octolytics-actor-hash" />
    

    
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <meta content="authenticity_token" name="csrf-param" />
<meta content="v6WyWPyoBUOHKeWrDWsasy5OusiiLPlVbL73Dfu7/Dk=" name="csrf-token" />

    <link href="https://github.global.ssl.fastly.net/assets/github-d648f1196659f589579aa6aaddcc78c4f8e87552.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://github.global.ssl.fastly.net/assets/github2-32987ede34015d8eaa4618614894d836adf201f6.css" media="all" rel="stylesheet" type="text/css" />
    
    


      <script crossorigin="anonymous" src="https://github.global.ssl.fastly.net/assets/frameworks-855d68c505f4b08a77e4d991f11cf5d8f43250e2.js" type="text/javascript"></script>
      <script async="async" crossorigin="anonymous" src="https://github.global.ssl.fastly.net/assets/github-e6bd35a239a3a0ab82cd42cd9df317778e5a1270.js" type="text/javascript"></script>
      
      <meta http-equiv="x-pjax-version" content="2fe0694ce2393a8db660e33f758021ee">

        <link data-pjax-transient rel='permalink' href='/seyhunak/twitter-bootstrap-rails/blob/96f416f8f1481117195cf5a9b1185c6f3c47e418/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb'>

  <meta name="description" content="twitter-bootstrap-rails - Twitter Bootstrap for Rails 3.x - 4 Asset Pipeline" />

  <meta content="170820" name="octolytics-dimension-user_id" /><meta content="seyhunak" name="octolytics-dimension-user_login" /><meta content="2242086" name="octolytics-dimension-repository_id" /><meta content="seyhunak/twitter-bootstrap-rails" name="octolytics-dimension-repository_nwo" /><meta content="true" name="octolytics-dimension-repository_public" /><meta content="false" name="octolytics-dimension-repository_is_fork" /><meta content="2242086" name="octolytics-dimension-repository_network_root_id" /><meta content="seyhunak/twitter-bootstrap-rails" name="octolytics-dimension-repository_network_root_nwo" />
  <link href="https://github.com/seyhunak/twitter-bootstrap-rails/commits/master.atom" rel="alternate" title="Recent Commits to twitter-bootstrap-rails:master" type="application/atom+xml" />

  </head>


  <body class="logged_in  env-production macintosh vis-public page-blob tipsy-tooltips">
    <a href="#start-of-content" class="accessibility-aid js-skip-to-content">Skip to content</a>
    <div class="wrapper">
      
      
      
      


      <div class="header header-logged-in true">
  <div class="container clearfix">

    <a class="header-logo-invertocat" href="https://github.com/">
  <span class="mega-octicon octicon-mark-github"></span>
</a>

    
    <a href="/notifications" aria-label="You have no unread notifications" class="notification-indicator tooltipped tooltipped-s" data-gotokey="n">
        <span class="mail-status all-read"></span>
</a>

      <div class="command-bar js-command-bar  in-repository">
          <form accept-charset="UTF-8" action="/search" class="command-bar-form" id="top_search_form" method="get">

<input type="text" data-hotkey="/ s" name="q" id="js-command-bar-field" placeholder="Search or type a command" tabindex="1" autocapitalize="off"
    
    data-username="TeachBackTeam"
      data-repo="seyhunak/twitter-bootstrap-rails"
      data-branch="master"
      data-sha="b2d8dc338c292003135481bb7c66eb5c21684669"
  >

    <input type="hidden" name="nwo" value="seyhunak/twitter-bootstrap-rails" />

    <div class="select-menu js-menu-container js-select-menu search-context-select-menu">
      <span class="minibutton select-menu-button js-menu-target" role="button" aria-haspopup="true">
        <span class="js-select-button">This repository</span>
      </span>

      <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
        <div class="select-menu-modal">

          <div class="select-menu-item js-navigation-item js-this-repository-navigation-item selected">
            <span class="select-menu-item-icon octicon octicon-check"></span>
            <input type="radio" class="js-search-this-repository" name="search_target" value="repository" checked="checked" />
            <div class="select-menu-item-text js-select-button-text">This repository</div>
          </div> <!-- /.select-menu-item -->

          <div class="select-menu-item js-navigation-item js-all-repositories-navigation-item">
            <span class="select-menu-item-icon octicon octicon-check"></span>
            <input type="radio" name="search_target" value="global" />
            <div class="select-menu-item-text js-select-button-text">All repositories</div>
          </div> <!-- /.select-menu-item -->

        </div>
      </div>
    </div>

  <span class="help tooltipped tooltipped-s" aria-label="Show command bar help">
    <span class="octicon octicon-question"></span>
  </span>


  <input type="hidden" name="ref" value="cmdform">

</form>
        <ul class="top-nav">
          <li class="explore"><a href="/explore">Explore</a></li>
            <li><a href="https://gist.github.com">Gist</a></li>
            <li><a href="/blog">Blog</a></li>
          <li><a href="https://help.github.com">Help</a></li>
        </ul>
      </div>

    


  <ul id="user-links">
    <li>
      <a href="/TeachBackTeam" class="name">
        <img alt="TeachBackTeam" class=" js-avatar" data-user="6608792" height="20" src="https://avatars0.githubusercontent.com/u/6608792?s=140" width="20" /> TeachBackTeam
      </a>
    </li>

    <li class="new-menu dropdown-toggle js-menu-container">
      <a href="#" class="js-menu-target tooltipped tooltipped-s" aria-label="Create new...">
        <span class="octicon octicon-plus"></span>
        <span class="dropdown-arrow"></span>
      </a>

      <div class="new-menu-content js-menu-content">
      </div>
    </li>

    <li>
      <a href="/settings/profile" id="account_settings"
        class="tooltipped tooltipped-s"
        aria-label="Account settings ">
        <span class="octicon octicon-tools"></span>
      </a>
    </li>
    <li>
      <a class="tooltipped tooltipped-s" href="/logout" data-method="post" id="logout" aria-label="Sign out">
        <span class="octicon octicon-log-out"></span>
      </a>
    </li>

  </ul>

<div class="js-new-dropdown-contents hidden">
  

<ul class="dropdown-menu">
  <li>
    <a href="/new"><span class="octicon octicon-repo-create"></span> New repository</a>
  </li>
  <li>
    <a href="/organizations/new"><span class="octicon octicon-organization"></span> New organization</a>
  </li>


    <li class="section-title">
      <span title="seyhunak/twitter-bootstrap-rails">This repository</span>
    </li>
      <li>
        <a href="/seyhunak/twitter-bootstrap-rails/issues/new"><span class="octicon octicon-issue-opened"></span> New issue</a>
      </li>
</ul>

</div>


    
  </div>
</div>

      

        



      <div id="start-of-content" class="accessibility-aid"></div>
          <div class="site" itemscope itemtype="http://schema.org/WebPage">
    
    <div class="pagehead repohead instapaper_ignore readability-menu">
      <div class="container">
        

<ul class="pagehead-actions">

    <li class="subscription">
      <form accept-charset="UTF-8" action="/notifications/subscribe" class="js-social-container" data-autosubmit="true" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="v6WyWPyoBUOHKeWrDWsasy5OusiiLPlVbL73Dfu7/Dk=" /></div>  <input id="repository_id" name="repository_id" type="hidden" value="2242086" />

    <div class="select-menu js-menu-container js-select-menu">
      <a class="social-count js-social-count" href="/seyhunak/twitter-bootstrap-rails/watchers">
        198
      </a>
      <span class="minibutton select-menu-button with-count js-menu-target" role="button" tabindex="0" aria-haspopup="true">
        <span class="js-select-button">
          <span class="octicon octicon-eye-watch"></span>
          Watch
        </span>
      </span>

      <div class="select-menu-modal-holder">
        <div class="select-menu-modal subscription-menu-modal js-menu-content" aria-hidden="true">
          <div class="select-menu-header">
            <span class="select-menu-title">Notification status</span>
            <span class="octicon octicon-remove-close js-menu-close"></span>
          </div> <!-- /.select-menu-header -->

          <div class="select-menu-list js-navigation-container" role="menu">

            <div class="select-menu-item js-navigation-item selected" role="menuitem" tabindex="0">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <div class="select-menu-item-text">
                <input checked="checked" id="do_included" name="do" type="radio" value="included" />
                <h4>Not watching</h4>
                <span class="description">You only receive notifications for conversations in which you participate or are @mentioned.</span>
                <span class="js-select-button-text hidden-select-button-text">
                  <span class="octicon octicon-eye-watch"></span>
                  Watch
                </span>
              </div>
            </div> <!-- /.select-menu-item -->

            <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
              <span class="select-menu-item-icon octicon octicon octicon-check"></span>
              <div class="select-menu-item-text">
                <input id="do_subscribed" name="do" type="radio" value="subscribed" />
                <h4>Watching</h4>
                <span class="description">You receive notifications for all conversations in this repository.</span>
                <span class="js-select-button-text hidden-select-button-text">
                  <span class="octicon octicon-eye-unwatch"></span>
                  Unwatch
                </span>
              </div>
            </div> <!-- /.select-menu-item -->

            <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <div class="select-menu-item-text">
                <input id="do_ignore" name="do" type="radio" value="ignore" />
                <h4>Ignoring</h4>
                <span class="description">You do not receive any notifications for conversations in this repository.</span>
                <span class="js-select-button-text hidden-select-button-text">
                  <span class="octicon octicon-mute"></span>
                  Stop ignoring
                </span>
              </div>
            </div> <!-- /.select-menu-item -->

          </div> <!-- /.select-menu-list -->

        </div> <!-- /.select-menu-modal -->
      </div> <!-- /.select-menu-modal-holder -->
    </div> <!-- /.select-menu -->

</form>
    </li>

  <li>
  

  <div class="js-toggler-container js-social-container starring-container ">
    <a href="/seyhunak/twitter-bootstrap-rails/unstar"
      class="minibutton with-count js-toggler-target star-button starred"
      aria-label="Unstar this repository" data-remote="true" data-method="post" rel="nofollow">
      <span class="octicon octicon-star-delete"></span><span class="text">Unstar</span>
    </a>

    <a href="/seyhunak/twitter-bootstrap-rails/star"
      class="minibutton with-count js-toggler-target star-button unstarred"
      aria-label="Star this repository" data-remote="true" data-method="post" rel="nofollow">
      <span class="octicon octicon-star"></span><span class="text">Star</span>
    </a>

      <a class="social-count js-social-count" href="/seyhunak/twitter-bootstrap-rails/stargazers">
        3,494
      </a>
  </div>

  </li>


        <li>
          <a href="/seyhunak/twitter-bootstrap-rails/fork" class="minibutton with-count js-toggler-target fork-button lighter tooltipped-n" title="Fork this repo" rel="nofollow" data-method="post">
            <span class="octicon octicon-git-branch-create"></span><span class="text">Fork</span>
          </a>
          <a href="/seyhunak/twitter-bootstrap-rails/network" class="social-count">845</a>
        </li>


</ul>

        <h1 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="entry-title public">
          <span class="repo-label"><span>public</span></span>
          <span class="mega-octicon octicon-repo"></span>
          <span class="author">
            <a href="/seyhunak" class="url fn" itemprop="url" rel="author"><span itemprop="title">seyhunak</span></a>
          </span>
          <span class="repohead-name-divider">/</span>
          <strong><a href="/seyhunak/twitter-bootstrap-rails" class="js-current-repository js-repo-home-link">twitter-bootstrap-rails</a></strong>

          <span class="page-context-loader">
            <img alt="Octocat-spinner-32" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
          </span>

        </h1>
      </div><!-- /.container -->
    </div><!-- /.repohead -->

    <div class="container">
      <div class="repository-with-sidebar repo-container new-discussion-timeline js-new-discussion-timeline  ">
        <div class="repository-sidebar clearfix">
            

<div class="sunken-menu vertical-right repo-nav js-repo-nav js-repository-container-pjax js-octicon-loaders">
  <div class="sunken-menu-contents">
    <ul class="sunken-menu-group">
      <li class="tooltipped tooltipped-w" aria-label="Code">
        <a href="/seyhunak/twitter-bootstrap-rails" aria-label="Code" class="selected js-selected-navigation-item sunken-menu-item" data-gotokey="c" data-pjax="true" data-selected-links="repo_source repo_downloads repo_commits repo_tags repo_branches /seyhunak/twitter-bootstrap-rails">
          <span class="octicon octicon-code"></span> <span class="full-word">Code</span>
          <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
</a>      </li>

        <li class="tooltipped tooltipped-w" aria-label="Issues">
          <a href="/seyhunak/twitter-bootstrap-rails/issues" aria-label="Issues" class="js-selected-navigation-item sunken-menu-item js-disable-pjax" data-gotokey="i" data-selected-links="repo_issues /seyhunak/twitter-bootstrap-rails/issues">
            <span class="octicon octicon-issue-opened"></span> <span class="full-word">Issues</span>
            <span class='counter'>119</span>
            <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
</a>        </li>

      <li class="tooltipped tooltipped-w" aria-label="Pull Requests">
        <a href="/seyhunak/twitter-bootstrap-rails/pulls" aria-label="Pull Requests" class="js-selected-navigation-item sunken-menu-item js-disable-pjax" data-gotokey="p" data-selected-links="repo_pulls /seyhunak/twitter-bootstrap-rails/pulls">
            <span class="octicon octicon-git-pull-request"></span> <span class="full-word">Pull Requests</span>
            <span class='counter'>2</span>
            <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
</a>      </li>


        <li class="tooltipped tooltipped-w" aria-label="Wiki">
          <a href="/seyhunak/twitter-bootstrap-rails/wiki" aria-label="Wiki" class="js-selected-navigation-item sunken-menu-item" data-pjax="true" data-selected-links="repo_wiki /seyhunak/twitter-bootstrap-rails/wiki">
            <span class="octicon octicon-book"></span> <span class="full-word">Wiki</span>
            <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
</a>        </li>
    </ul>
    <div class="sunken-menu-separator"></div>
    <ul class="sunken-menu-group">

      <li class="tooltipped tooltipped-w" aria-label="Pulse">
        <a href="/seyhunak/twitter-bootstrap-rails/pulse" aria-label="Pulse" class="js-selected-navigation-item sunken-menu-item" data-pjax="true" data-selected-links="pulse /seyhunak/twitter-bootstrap-rails/pulse">
          <span class="octicon octicon-pulse"></span> <span class="full-word">Pulse</span>
          <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
</a>      </li>

      <li class="tooltipped tooltipped-w" aria-label="Graphs">
        <a href="/seyhunak/twitter-bootstrap-rails/graphs" aria-label="Graphs" class="js-selected-navigation-item sunken-menu-item" data-pjax="true" data-selected-links="repo_graphs repo_contributors /seyhunak/twitter-bootstrap-rails/graphs">
          <span class="octicon octicon-graph"></span> <span class="full-word">Graphs</span>
          <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
</a>      </li>

      <li class="tooltipped tooltipped-w" aria-label="Network">
        <a href="/seyhunak/twitter-bootstrap-rails/network" aria-label="Network" class="js-selected-navigation-item sunken-menu-item js-disable-pjax" data-selected-links="repo_network /seyhunak/twitter-bootstrap-rails/network">
          <span class="octicon octicon-git-branch"></span> <span class="full-word">Network</span>
          <img alt="Octocat-spinner-32" class="mini-loader" height="16" src="https://github.global.ssl.fastly.net/images/spinners/octocat-spinner-32.gif" width="16" />
</a>      </li>
    </ul>


  </div>
</div>

              <div class="only-with-full-nav">
                

  

<div class="clone-url open"
  data-protocol-type="http"
  data-url="/users/set_protocol?protocol_selector=http&amp;protocol_type=clone">
  <h3><strong>HTTPS</strong> clone URL</h3>
  <div class="clone-url-box">
    <input type="text" class="clone js-url-field"
           value="https://github.com/seyhunak/twitter-bootstrap-rails.git" readonly="readonly">

    <span aria-label="copy to clipboard" class="js-zeroclipboard url-box-clippy minibutton zeroclipboard-button" data-clipboard-text="https://github.com/seyhunak/twitter-bootstrap-rails.git" data-copied-hint="copied!"><span class="octicon octicon-clippy"></span></span>
  </div>
</div>

  

<div class="clone-url "
  data-protocol-type="ssh"
  data-url="/users/set_protocol?protocol_selector=ssh&amp;protocol_type=clone">
  <h3><strong>SSH</strong> clone URL</h3>
  <div class="clone-url-box">
    <input type="text" class="clone js-url-field"
           value="git@github.com:seyhunak/twitter-bootstrap-rails.git" readonly="readonly">

    <span aria-label="copy to clipboard" class="js-zeroclipboard url-box-clippy minibutton zeroclipboard-button" data-clipboard-text="git@github.com:seyhunak/twitter-bootstrap-rails.git" data-copied-hint="copied!"><span class="octicon octicon-clippy"></span></span>
  </div>
</div>

  

<div class="clone-url "
  data-protocol-type="subversion"
  data-url="/users/set_protocol?protocol_selector=subversion&amp;protocol_type=clone">
  <h3><strong>Subversion</strong> checkout URL</h3>
  <div class="clone-url-box">
    <input type="text" class="clone js-url-field"
           value="https://github.com/seyhunak/twitter-bootstrap-rails" readonly="readonly">

    <span aria-label="copy to clipboard" class="js-zeroclipboard url-box-clippy minibutton zeroclipboard-button" data-clipboard-text="https://github.com/seyhunak/twitter-bootstrap-rails" data-copied-hint="copied!"><span class="octicon octicon-clippy"></span></span>
  </div>
</div>


<p class="clone-options">You can clone with
      <a href="#" class="js-clone-selector" data-protocol="http">HTTPS</a>,
      <a href="#" class="js-clone-selector" data-protocol="ssh">SSH</a>,
      or <a href="#" class="js-clone-selector" data-protocol="subversion">Subversion</a>.
  <span class="help tooltipped tooltipped-n" aria-label="Get help on which URL is right for you.">
    <a href="https://help.github.com/articles/which-remote-url-should-i-use">
    <span class="octicon octicon-question"></span>
    </a>
  </span>
</p>

  <a href="http://mac.github.com" data-url="github-mac://openRepo/https://github.com/seyhunak/twitter-bootstrap-rails" class="minibutton sidebar-button js-conduit-rewrite-url">
    <span class="octicon octicon-device-desktop"></span>
    Clone in Desktop
  </a>


                <a href="/seyhunak/twitter-bootstrap-rails/archive/master.zip"
                   class="minibutton sidebar-button"
                   title="Download this repository as a zip file"
                   rel="nofollow">
                  <span class="octicon octicon-cloud-download"></span>
                  Download ZIP
                </a>
              </div>
        </div><!-- /.repository-sidebar -->

        <div id="js-repo-pjax-container" class="repository-content context-loader-container" data-pjax-container>
          


<!-- blob contrib key: blob_contributors:v21:6827749c06d53f3910d071e1aadb1888 -->

<p title="This is a placeholder element" class="js-history-link-replace hidden"></p>

<a href="/seyhunak/twitter-bootstrap-rails/find/master" data-pjax data-hotkey="t" class="js-show-file-finder" style="display:none">Show File Finder</a>

<div class="file-navigation">
  

<div class="select-menu js-menu-container js-select-menu" >
  <span class="minibutton select-menu-button js-menu-target" data-hotkey="w"
    data-master-branch="master"
    data-ref="master"
    role="button" aria-label="Switch branches or tags" tabindex="0" aria-haspopup="true">
    <span class="octicon octicon-git-branch"></span>
    <i>branch:</i>
    <span class="js-select-button">master</span>
  </span>

  <div class="select-menu-modal-holder js-menu-content js-navigation-container" data-pjax aria-hidden="true">

    <div class="select-menu-modal">
      <div class="select-menu-header">
        <span class="select-menu-title">Switch branches/tags</span>
        <span class="octicon octicon-remove-close js-menu-close"></span>
      </div> <!-- /.select-menu-header -->

      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" aria-label="Filter branches/tags" id="context-commitish-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter branches/tags">
        </div>
        <div class="select-menu-tabs">
          <ul>
            <li class="select-menu-tab">
              <a href="#" data-tab-filter="branches" class="js-select-menu-tab">Branches</a>
            </li>
            <li class="select-menu-tab">
              <a href="#" data-tab-filter="tags" class="js-select-menu-tab">Tags</a>
            </li>
          </ul>
        </div><!-- /.select-menu-tabs -->
      </div><!-- /.select-menu-filters -->

      <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="branches">

        <div data-filterable-for="context-commitish-filter-field" data-filterable-type="substring">


            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/blob/bootstrap3/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="bootstrap3"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="bootstrap3">bootstrap3</a>
            </div> <!-- /.select-menu-item -->
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/blob/gh-pages/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="gh-pages"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="gh-pages">gh-pages</a>
            </div> <!-- /.select-menu-item -->
            <div class="select-menu-item js-navigation-item selected">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/blob/master/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="master"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="master">master</a>
            </div> <!-- /.select-menu-item -->
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/blob/static/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="static"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="static">static</a>
            </div> <!-- /.select-menu-item -->
        </div>

          <div class="select-menu-no-results">Nothing to show</div>
      </div> <!-- /.select-menu-list -->

      <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="tags">
        <div data-filterable-for="context-commitish-filter-field" data-filterable-type="substring">


            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/tree/v2.2.7/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="v2.2.7"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="v2.2.7">v2.2.7</a>
            </div> <!-- /.select-menu-item -->
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/tree/v2.1.0/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="v2.1.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="v2.1.0">v2.1.0</a>
            </div> <!-- /.select-menu-item -->
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/tree/v2.0.9/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="v2.0.9"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="v2.0.9">v2.0.9</a>
            </div> <!-- /.select-menu-item -->
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/seyhunak/twitter-bootstrap-rails/tree/v2.0.7/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                 data-name="v2.0.7"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text js-select-button-text css-truncate-target"
                 title="v2.0.7">v2.0.7</a>
            </div> <!-- /.select-menu-item -->
        </div>

        <div class="select-menu-no-results">Nothing to show</div>
      </div> <!-- /.select-menu-list -->

    </div> <!-- /.select-menu-modal -->
  </div> <!-- /.select-menu-modal-holder -->
</div> <!-- /.select-menu -->

  <div class="breadcrumb">
    <span class='repo-root js-repo-root'><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/seyhunak/twitter-bootstrap-rails" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">twitter-bootstrap-rails</span></a></span></span><span class="separator"> / </span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/seyhunak/twitter-bootstrap-rails/tree/master/app" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">app</span></a></span><span class="separator"> / </span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/seyhunak/twitter-bootstrap-rails/tree/master/app/assets" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">assets</span></a></span><span class="separator"> / </span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/seyhunak/twitter-bootstrap-rails/tree/master/app/assets/stylesheets" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">stylesheets</span></a></span><span class="separator"> / </span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/seyhunak/twitter-bootstrap-rails/tree/master/app/assets/stylesheets/twitter-bootstrap-static" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">twitter-bootstrap-static</span></a></span><span class="separator"> / </span><strong class="final-path">sprites.css.erb</strong> <span aria-label="copy to clipboard" class="js-zeroclipboard minibutton zeroclipboard-button" data-clipboard-text="app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb" data-copied-hint="copied!"><span class="octicon octicon-clippy"></span></span>
  </div>
</div>


  <div class="commit file-history-tease">
    <img alt="Geremia Taglialatela" class="main-avatar js-avatar" data-user="556268" height="24" src="https://2.gravatar.com/avatar/cfb9517661ae1b2747a4c5818e164a03?d=https%3A%2F%2Fidenticons.github.com%2F0ddbb31168833ffc1dc58d6b68284d3d.png&amp;r=x&amp;s=140" width="24" />
    <span class="author"><a href="/tagliala" rel="author">tagliala</a></span>
    <time class="js-relative-date" data-title-format="YYYY-MM-DD HH:mm:ss" datetime="2013-06-14T15:31:23+02:00" title="2013-06-14 22:31:23">June 14, 2013</time>
    <div class="commit-title">
        <a href="/seyhunak/twitter-bootstrap-rails/commit/1aeed80ce68afa1e36739da53463ce676c197347" class="message" data-pjax="true" title="merged conflicts">merged conflicts</a>
    </div>

    <div class="participation">
      <p class="quickstat"><a href="#blob_contributors_box" rel="facebox"><strong>1</strong> contributor</a></p>
      
    </div>
    <div id="blob_contributors_box" style="display:none">
      <h2 class="facebox-header">Users who have contributed to this file</h2>
      <ul class="facebox-user-list">
          <li class="facebox-user-list-item">
            <img alt="Geremia Taglialatela" class=" js-avatar" data-user="556268" height="24" src="https://2.gravatar.com/avatar/cfb9517661ae1b2747a4c5818e164a03?d=https%3A%2F%2Fidenticons.github.com%2F0ddbb31168833ffc1dc58d6b68284d3d.png&amp;r=x&amp;s=140" width="24" />
            <a href="/tagliala">tagliala</a>
          </li>
      </ul>
    </div>
  </div>

<div class="file-box">
  <div class="file">
    <div class="meta clearfix">
      <div class="info file-name">
        <span class="icon"><b class="octicon octicon-file-text"></b></span>
        <span class="mode" title="File Mode">file</span>
        <span class="meta-divider"></span>
          <span>147 lines (146 sloc)</span>
          <span class="meta-divider"></span>
        <span>8.383 kb</span>
      </div>
      <div class="actions">
        <div class="button-group">
            <a class="minibutton tooltipped tooltipped-w js-conduit-openfile-check"
               href="http://mac.github.com"
               data-url="github-mac://openRepo/https://github.com/seyhunak/twitter-bootstrap-rails?branch=master&amp;filepath=app%2Fassets%2Fstylesheets%2Ftwitter-bootstrap-static%2Fsprites.css.erb"
               aria-label="Open this file in GitHub for Mac"
               data-failed-title="Your version of GitHub for Mac is too old to open this file. Try checking for updates.">
                <span class="octicon octicon-device-desktop"></span> Open
            </a>
                <a class="minibutton tooltipped tooltipped-n js-update-url-with-hash"
                   aria-label="Clicking this button will automatically fork this project so you can edit the file"
                   href="/seyhunak/twitter-bootstrap-rails/edit/master/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
                   data-method="post" rel="nofollow">Edit</a>
          <a href="/seyhunak/twitter-bootstrap-rails/raw/master/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb" class="button minibutton " id="raw-url">Raw</a>
            <a href="/seyhunak/twitter-bootstrap-rails/blame/master/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb" class="button minibutton js-update-url-with-hash">Blame</a>
          <a href="/seyhunak/twitter-bootstrap-rails/commits/master/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb" class="button minibutton " rel="nofollow">History</a>
        </div><!-- /.button-group -->

            <a class="minibutton danger empty-icon tooltipped tooltipped-s"
               href="/seyhunak/twitter-bootstrap-rails/delete/master/app/assets/stylesheets/twitter-bootstrap-static/sprites.css.erb"
               aria-label="Fork this project and delete file"
               data-method="post" data-test-id="delete-blob-file" rel="nofollow">

          Delete
        </a>
      </div><!-- /.actions -->
    </div>
        <div class="blob-wrapper data type-html-erb js-blob-data">
        <table class="file-code file-diff tab-size-8">
          <tr class="file-code-line">
            <td class="blob-line-nums">
              <span id="L1" rel="#L1">1</span>
<span id="L2" rel="#L2">2</span>
<span id="L3" rel="#L3">3</span>
<span id="L4" rel="#L4">4</span>
<span id="L5" rel="#L5">5</span>
<span id="L6" rel="#L6">6</span>
<span id="L7" rel="#L7">7</span>
<span id="L8" rel="#L8">8</span>
<span id="L9" rel="#L9">9</span>
<span id="L10" rel="#L10">10</span>
<span id="L11" rel="#L11">11</span>
<span id="L12" rel="#L12">12</span>
<span id="L13" rel="#L13">13</span>
<span id="L14" rel="#L14">14</span>
<span id="L15" rel="#L15">15</span>
<span id="L16" rel="#L16">16</span>
<span id="L17" rel="#L17">17</span>
<span id="L18" rel="#L18">18</span>
<span id="L19" rel="#L19">19</span>
<span id="L20" rel="#L20">20</span>
<span id="L21" rel="#L21">21</span>
<span id="L22" rel="#L22">22</span>
<span id="L23" rel="#L23">23</span>
<span id="L24" rel="#L24">24</span>
<span id="L25" rel="#L25">25</span>
<span id="L26" rel="#L26">26</span>
<span id="L27" rel="#L27">27</span>
<span id="L28" rel="#L28">28</span>
<span id="L29" rel="#L29">29</span>
<span id="L30" rel="#L30">30</span>
<span id="L31" rel="#L31">31</span>
<span id="L32" rel="#L32">32</span>
<span id="L33" rel="#L33">33</span>
<span id="L34" rel="#L34">34</span>
<span id="L35" rel="#L35">35</span>
<span id="L36" rel="#L36">36</span>
<span id="L37" rel="#L37">37</span>
<span id="L38" rel="#L38">38</span>
<span id="L39" rel="#L39">39</span>
<span id="L40" rel="#L40">40</span>
<span id="L41" rel="#L41">41</span>
<span id="L42" rel="#L42">42</span>
<span id="L43" rel="#L43">43</span>
<span id="L44" rel="#L44">44</span>
<span id="L45" rel="#L45">45</span>
<span id="L46" rel="#L46">46</span>
<span id="L47" rel="#L47">47</span>
<span id="L48" rel="#L48">48</span>
<span id="L49" rel="#L49">49</span>
<span id="L50" rel="#L50">50</span>
<span id="L51" rel="#L51">51</span>
<span id="L52" rel="#L52">52</span>
<span id="L53" rel="#L53">53</span>
<span id="L54" rel="#L54">54</span>
<span id="L55" rel="#L55">55</span>
<span id="L56" rel="#L56">56</span>
<span id="L57" rel="#L57">57</span>
<span id="L58" rel="#L58">58</span>
<span id="L59" rel="#L59">59</span>
<span id="L60" rel="#L60">60</span>
<span id="L61" rel="#L61">61</span>
<span id="L62" rel="#L62">62</span>
<span id="L63" rel="#L63">63</span>
<span id="L64" rel="#L64">64</span>
<span id="L65" rel="#L65">65</span>
<span id="L66" rel="#L66">66</span>
<span id="L67" rel="#L67">67</span>
<span id="L68" rel="#L68">68</span>
<span id="L69" rel="#L69">69</span>
<span id="L70" rel="#L70">70</span>
<span id="L71" rel="#L71">71</span>
<span id="L72" rel="#L72">72</span>
<span id="L73" rel="#L73">73</span>
<span id="L74" rel="#L74">74</span>
<span id="L75" rel="#L75">75</span>
<span id="L76" rel="#L76">76</span>
<span id="L77" rel="#L77">77</span>
<span id="L78" rel="#L78">78</span>
<span id="L79" rel="#L79">79</span>
<span id="L80" rel="#L80">80</span>
<span id="L81" rel="#L81">81</span>
<span id="L82" rel="#L82">82</span>
<span id="L83" rel="#L83">83</span>
<span id="L84" rel="#L84">84</span>
<span id="L85" rel="#L85">85</span>
<span id="L86" rel="#L86">86</span>
<span id="L87" rel="#L87">87</span>
<span id="L88" rel="#L88">88</span>
<span id="L89" rel="#L89">89</span>
<span id="L90" rel="#L90">90</span>
<span id="L91" rel="#L91">91</span>
<span id="L92" rel="#L92">92</span>
<span id="L93" rel="#L93">93</span>
<span id="L94" rel="#L94">94</span>
<span id="L95" rel="#L95">95</span>
<span id="L96" rel="#L96">96</span>
<span id="L97" rel="#L97">97</span>
<span id="L98" rel="#L98">98</span>
<span id="L99" rel="#L99">99</span>
<span id="L100" rel="#L100">100</span>
<span id="L101" rel="#L101">101</span>
<span id="L102" rel="#L102">102</span>
<span id="L103" rel="#L103">103</span>
<span id="L104" rel="#L104">104</span>
<span id="L105" rel="#L105">105</span>
<span id="L106" rel="#L106">106</span>
<span id="L107" rel="#L107">107</span>
<span id="L108" rel="#L108">108</span>
<span id="L109" rel="#L109">109</span>
<span id="L110" rel="#L110">110</span>
<span id="L111" rel="#L111">111</span>
<span id="L112" rel="#L112">112</span>
<span id="L113" rel="#L113">113</span>
<span id="L114" rel="#L114">114</span>
<span id="L115" rel="#L115">115</span>
<span id="L116" rel="#L116">116</span>
<span id="L117" rel="#L117">117</span>
<span id="L118" rel="#L118">118</span>
<span id="L119" rel="#L119">119</span>
<span id="L120" rel="#L120">120</span>
<span id="L121" rel="#L121">121</span>
<span id="L122" rel="#L122">122</span>
<span id="L123" rel="#L123">123</span>
<span id="L124" rel="#L124">124</span>
<span id="L125" rel="#L125">125</span>
<span id="L126" rel="#L126">126</span>
<span id="L127" rel="#L127">127</span>
<span id="L128" rel="#L128">128</span>
<span id="L129" rel="#L129">129</span>
<span id="L130" rel="#L130">130</span>
<span id="L131" rel="#L131">131</span>
<span id="L132" rel="#L132">132</span>
<span id="L133" rel="#L133">133</span>
<span id="L134" rel="#L134">134</span>
<span id="L135" rel="#L135">135</span>
<span id="L136" rel="#L136">136</span>
<span id="L137" rel="#L137">137</span>
<span id="L138" rel="#L138">138</span>
<span id="L139" rel="#L139">139</span>
<span id="L140" rel="#L140">140</span>
<span id="L141" rel="#L141">141</span>
<span id="L142" rel="#L142">142</span>
<span id="L143" rel="#L143">143</span>
<span id="L144" rel="#L144">144</span>
<span id="L145" rel="#L145">145</span>
<span id="L146" rel="#L146">146</span>

            </td>
            <td class="blob-line-code"><div class="code-body highlight"><pre><div class='line' id='LC1'>.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:&quot;&quot;;line-height:0;}</div><div class='line' id='LC2'>.clearfix:after{clear:both;}</div><div class='line' id='LC3'>.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}</div><div class='line' id='LC4'>.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}</div><div class='line' id='LC5'>[class^=&quot;icon-&quot;],[class*=&quot; icon-&quot;]{display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url(&quot;<span class="cp">&lt;%=</span> <span class="n">asset_path</span> <span class="s1">&#39;twitter/bootstrap/glyphicons-halflings.png&#39;</span> <span class="cp">%&gt;</span>&quot;);background-position:14px 14px;background-repeat:no-repeat;margin-top:1px;}</div><div class='line' id='LC6'>.icon-white,.nav-pills&gt;.active&gt;a&gt;[class^=&quot;icon-&quot;],.nav-pills&gt;.active&gt;a&gt;[class*=&quot; icon-&quot;],.nav-list&gt;.active&gt;a&gt;[class^=&quot;icon-&quot;],.nav-list&gt;.active&gt;a&gt;[class*=&quot; icon-&quot;],.navbar-inverse .nav&gt;.active&gt;a&gt;[class^=&quot;icon-&quot;],.navbar-inverse .nav&gt;.active&gt;a&gt;[class*=&quot; icon-&quot;],.dropdown-menu&gt;li&gt;a:hover&gt;[class^=&quot;icon-&quot;],.dropdown-menu&gt;li&gt;a:focus&gt;[class^=&quot;icon-&quot;],.dropdown-menu&gt;li&gt;a:hover&gt;[class*=&quot; icon-&quot;],.dropdown-menu&gt;li&gt;a:focus&gt;[class*=&quot; icon-&quot;],.dropdown-menu&gt;.active&gt;a&gt;[class^=&quot;icon-&quot;],.dropdown-menu&gt;.active&gt;a&gt;[class*=&quot; icon-&quot;],.dropdown-submenu:hover&gt;a&gt;[class^=&quot;icon-&quot;],.dropdown-submenu:focus&gt;a&gt;[class^=&quot;icon-&quot;],.dropdown-submenu:hover&gt;a&gt;[class*=&quot; icon-&quot;],.dropdown-submenu:focus&gt;a&gt;[class*=&quot; icon-&quot;]{background-image:url(&quot;<span class="cp">&lt;%=</span> <span class="n">asset_path</span> <span class="s1">&#39;twitter/bootstrap/glyphicons-halflings-white.png&#39;</span> <span class="cp">%&gt;</span>&quot;);}</div><div class='line' id='LC7'>.icon-glass{background-position:0 0;}</div><div class='line' id='LC8'>.icon-music{background-position:-24px 0;}</div><div class='line' id='LC9'>.icon-search{background-position:-48px 0;}</div><div class='line' id='LC10'>.icon-envelope{background-position:-72px 0;}</div><div class='line' id='LC11'>.icon-heart{background-position:-96px 0;}</div><div class='line' id='LC12'>.icon-star{background-position:-120px 0;}</div><div class='line' id='LC13'>.icon-star-empty{background-position:-144px 0;}</div><div class='line' id='LC14'>.icon-user{background-position:-168px 0;}</div><div class='line' id='LC15'>.icon-film{background-position:-192px 0;}</div><div class='line' id='LC16'>.icon-th-large{background-position:-216px 0;}</div><div class='line' id='LC17'>.icon-th{background-position:-240px 0;}</div><div class='line' id='LC18'>.icon-th-list{background-position:-264px 0;}</div><div class='line' id='LC19'>.icon-ok{background-position:-288px 0;}</div><div class='line' id='LC20'>.icon-remove{background-position:-312px 0;}</div><div class='line' id='LC21'>.icon-zoom-in{background-position:-336px 0;}</div><div class='line' id='LC22'>.icon-zoom-out{background-position:-360px 0;}</div><div class='line' id='LC23'>.icon-off{background-position:-384px 0;}</div><div class='line' id='LC24'>.icon-signal{background-position:-408px 0;}</div><div class='line' id='LC25'>.icon-cog{background-position:-432px 0;}</div><div class='line' id='LC26'>.icon-trash{background-position:-456px 0;}</div><div class='line' id='LC27'>.icon-home{background-position:0 -24px;}</div><div class='line' id='LC28'>.icon-file{background-position:-24px -24px;}</div><div class='line' id='LC29'>.icon-time{background-position:-48px -24px;}</div><div class='line' id='LC30'>.icon-road{background-position:-72px -24px;}</div><div class='line' id='LC31'>.icon-download-alt{background-position:-96px -24px;}</div><div class='line' id='LC32'>.icon-download{background-position:-120px -24px;}</div><div class='line' id='LC33'>.icon-upload{background-position:-144px -24px;}</div><div class='line' id='LC34'>.icon-inbox{background-position:-168px -24px;}</div><div class='line' id='LC35'>.icon-play-circle{background-position:-192px -24px;}</div><div class='line' id='LC36'>.icon-repeat{background-position:-216px -24px;}</div><div class='line' id='LC37'>.icon-refresh{background-position:-240px -24px;}</div><div class='line' id='LC38'>.icon-list-alt{background-position:-264px -24px;}</div><div class='line' id='LC39'>.icon-lock{background-position:-287px -24px;}</div><div class='line' id='LC40'>.icon-flag{background-position:-312px -24px;}</div><div class='line' id='LC41'>.icon-headphones{background-position:-336px -24px;}</div><div class='line' id='LC42'>.icon-volume-off{background-position:-360px -24px;}</div><div class='line' id='LC43'>.icon-volume-down{background-position:-384px -24px;}</div><div class='line' id='LC44'>.icon-volume-up{background-position:-408px -24px;}</div><div class='line' id='LC45'>.icon-qrcode{background-position:-432px -24px;}</div><div class='line' id='LC46'>.icon-barcode{background-position:-456px -24px;}</div><div class='line' id='LC47'>.icon-tag{background-position:0 -48px;}</div><div class='line' id='LC48'>.icon-tags{background-position:-25px -48px;}</div><div class='line' id='LC49'>.icon-book{background-position:-48px -48px;}</div><div class='line' id='LC50'>.icon-bookmark{background-position:-72px -48px;}</div><div class='line' id='LC51'>.icon-print{background-position:-96px -48px;}</div><div class='line' id='LC52'>.icon-camera{background-position:-120px -48px;}</div><div class='line' id='LC53'>.icon-font{background-position:-144px -48px;}</div><div class='line' id='LC54'>.icon-bold{background-position:-167px -48px;}</div><div class='line' id='LC55'>.icon-italic{background-position:-192px -48px;}</div><div class='line' id='LC56'>.icon-text-height{background-position:-216px -48px;}</div><div class='line' id='LC57'>.icon-text-width{background-position:-240px -48px;}</div><div class='line' id='LC58'>.icon-align-left{background-position:-264px -48px;}</div><div class='line' id='LC59'>.icon-align-center{background-position:-288px -48px;}</div><div class='line' id='LC60'>.icon-align-right{background-position:-312px -48px;}</div><div class='line' id='LC61'>.icon-align-justify{background-position:-336px -48px;}</div><div class='line' id='LC62'>.icon-list{background-position:-360px -48px;}</div><div class='line' id='LC63'>.icon-indent-left{background-position:-384px -48px;}</div><div class='line' id='LC64'>.icon-indent-right{background-position:-408px -48px;}</div><div class='line' id='LC65'>.icon-facetime-video{background-position:-432px -48px;}</div><div class='line' id='LC66'>.icon-picture{background-position:-456px -48px;}</div><div class='line' id='LC67'>.icon-pencil{background-position:0 -72px;}</div><div class='line' id='LC68'>.icon-map-marker{background-position:-24px -72px;}</div><div class='line' id='LC69'>.icon-adjust{background-position:-48px -72px;}</div><div class='line' id='LC70'>.icon-tint{background-position:-72px -72px;}</div><div class='line' id='LC71'>.icon-edit{background-position:-96px -72px;}</div><div class='line' id='LC72'>.icon-share{background-position:-120px -72px;}</div><div class='line' id='LC73'>.icon-check{background-position:-144px -72px;}</div><div class='line' id='LC74'>.icon-move{background-position:-168px -72px;}</div><div class='line' id='LC75'>.icon-step-backward{background-position:-192px -72px;}</div><div class='line' id='LC76'>.icon-fast-backward{background-position:-216px -72px;}</div><div class='line' id='LC77'>.icon-backward{background-position:-240px -72px;}</div><div class='line' id='LC78'>.icon-play{background-position:-264px -72px;}</div><div class='line' id='LC79'>.icon-pause{background-position:-288px -72px;}</div><div class='line' id='LC80'>.icon-stop{background-position:-312px -72px;}</div><div class='line' id='LC81'>.icon-forward{background-position:-336px -72px;}</div><div class='line' id='LC82'>.icon-fast-forward{background-position:-360px -72px;}</div><div class='line' id='LC83'>.icon-step-forward{background-position:-384px -72px;}</div><div class='line' id='LC84'>.icon-eject{background-position:-408px -72px;}</div><div class='line' id='LC85'>.icon-chevron-left{background-position:-432px -72px;}</div><div class='line' id='LC86'>.icon-chevron-right{background-position:-456px -72px;}</div><div class='line' id='LC87'>.icon-plus-sign{background-position:0 -96px;}</div><div class='line' id='LC88'>.icon-minus-sign{background-position:-24px -96px;}</div><div class='line' id='LC89'>.icon-remove-sign{background-position:-48px -96px;}</div><div class='line' id='LC90'>.icon-ok-sign{background-position:-72px -96px;}</div><div class='line' id='LC91'>.icon-question-sign{background-position:-96px -96px;}</div><div class='line' id='LC92'>.icon-info-sign{background-position:-120px -96px;}</div><div class='line' id='LC93'>.icon-screenshot{background-position:-144px -96px;}</div><div class='line' id='LC94'>.icon-remove-circle{background-position:-168px -96px;}</div><div class='line' id='LC95'>.icon-ok-circle{background-position:-192px -96px;}</div><div class='line' id='LC96'>.icon-ban-circle{background-position:-216px -96px;}</div><div class='line' id='LC97'>.icon-arrow-left{background-position:-240px -96px;}</div><div class='line' id='LC98'>.icon-arrow-right{background-position:-264px -96px;}</div><div class='line' id='LC99'>.icon-arrow-up{background-position:-289px -96px;}</div><div class='line' id='LC100'>.icon-arrow-down{background-position:-312px -96px;}</div><div class='line' id='LC101'>.icon-share-alt{background-position:-336px -96px;}</div><div class='line' id='LC102'>.icon-resize-full{background-position:-360px -96px;}</div><div class='line' id='LC103'>.icon-resize-small{background-position:-384px -96px;}</div><div class='line' id='LC104'>.icon-plus{background-position:-408px -96px;}</div><div class='line' id='LC105'>.icon-minus{background-position:-433px -96px;}</div><div class='line' id='LC106'>.icon-asterisk{background-position:-456px -96px;}</div><div class='line' id='LC107'>.icon-exclamation-sign{background-position:0 -120px;}</div><div class='line' id='LC108'>.icon-gift{background-position:-24px -120px;}</div><div class='line' id='LC109'>.icon-leaf{background-position:-48px -120px;}</div><div class='line' id='LC110'>.icon-fire{background-position:-72px -120px;}</div><div class='line' id='LC111'>.icon-eye-open{background-position:-96px -120px;}</div><div class='line' id='LC112'>.icon-eye-close{background-position:-120px -120px;}</div><div class='line' id='LC113'>.icon-warning-sign{background-position:-144px -120px;}</div><div class='line' id='LC114'>.icon-plane{background-position:-168px -120px;}</div><div class='line' id='LC115'>.icon-calendar{background-position:-192px -120px;}</div><div class='line' id='LC116'>.icon-random{background-position:-216px -120px;width:16px;}</div><div class='line' id='LC117'>.icon-comment{background-position:-240px -120px;}</div><div class='line' id='LC118'>.icon-magnet{background-position:-264px -120px;}</div><div class='line' id='LC119'>.icon-chevron-up{background-position:-288px -120px;}</div><div class='line' id='LC120'>.icon-chevron-down{background-position:-313px -119px;}</div><div class='line' id='LC121'>.icon-retweet{background-position:-336px -120px;}</div><div class='line' id='LC122'>.icon-shopping-cart{background-position:-360px -120px;}</div><div class='line' id='LC123'>.icon-folder-close{background-position:-384px -120px;width:16px;}</div><div class='line' id='LC124'>.icon-folder-open{background-position:-408px -120px;width:16px;}</div><div class='line' id='LC125'>.icon-resize-vertical{background-position:-432px -119px;}</div><div class='line' id='LC126'>.icon-resize-horizontal{background-position:-456px -118px;}</div><div class='line' id='LC127'>.icon-hdd{background-position:0 -144px;}</div><div class='line' id='LC128'>.icon-bullhorn{background-position:-24px -144px;}</div><div class='line' id='LC129'>.icon-bell{background-position:-48px -144px;}</div><div class='line' id='LC130'>.icon-certificate{background-position:-72px -144px;}</div><div class='line' id='LC131'>.icon-thumbs-up{background-position:-96px -144px;}</div><div class='line' id='LC132'>.icon-thumbs-down{background-position:-120px -144px;}</div><div class='line' id='LC133'>.icon-hand-right{background-position:-144px -144px;}</div><div class='line' id='LC134'>.icon-hand-left{background-position:-168px -144px;}</div><div class='line' id='LC135'>.icon-hand-up{background-position:-192px -144px;}</div><div class='line' id='LC136'>.icon-hand-down{background-position:-216px -144px;}</div><div class='line' id='LC137'>.icon-circle-arrow-right{background-position:-240px -144px;}</div><div class='line' id='LC138'>.icon-circle-arrow-left{background-position:-264px -144px;}</div><div class='line' id='LC139'>.icon-circle-arrow-up{background-position:-288px -144px;}</div><div class='line' id='LC140'>.icon-circle-arrow-down{background-position:-312px -144px;}</div><div class='line' id='LC141'>.icon-globe{background-position:-336px -144px;}</div><div class='line' id='LC142'>.icon-wrench{background-position:-360px -144px;}</div><div class='line' id='LC143'>.icon-tasks{background-position:-384px -144px;}</div><div class='line' id='LC144'>.icon-filter{background-position:-408px -144px;}</div><div class='line' id='LC145'>.icon-briefcase{background-position:-432px -144px;}</div><div class='line' id='LC146'>.icon-fullscreen{background-position:-456px -144px;}</div></pre></div></td>
          </tr>
        </table>
  </div>

  </div>
</div>

<a href="#jump-to-line" rel="facebox[.linejump]" data-hotkey="l" class="js-jump-to-line" style="display:none">Jump to Line</a>
<div id="jump-to-line" style="display:none">
  <form accept-charset="UTF-8" class="js-jump-to-line-form">
    <input class="linejump-input js-jump-to-line-field" type="text" placeholder="Jump to line&hellip;" autofocus>
    <button type="submit" class="button">Go</button>
  </form>
</div>

        </div>

      </div><!-- /.repo-container -->
      <div class="modal-backdrop"></div>
    </div><!-- /.container -->
  </div><!-- /.site -->


    </div><!-- /.wrapper -->

      <div class="container">
  <div class="site-footer">
    <ul class="site-footer-links right">
      <li><a href="https://status.github.com/">Status</a></li>
      <li><a href="http://developer.github.com">API</a></li>
      <li><a href="http://training.github.com">Training</a></li>
      <li><a href="http://shop.github.com">Shop</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>

    </ul>

    <a href="/">
      <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
    </a>

    <ul class="site-footer-links">
      <li>&copy; 2014 <span title="0.05086s from github-fe139-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
        <li><a href="/site/terms">Terms</a></li>
        <li><a href="/site/privacy">Privacy</a></li>
        <li><a href="/security">Security</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
  </div><!-- /.site-footer -->
</div><!-- /.container -->


    <div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
  <div class="fullscreen-container js-fullscreen-container">
    <div class="textarea-wrap">
      <textarea name="fullscreen-contents" id="fullscreen-contents" class="js-fullscreen-contents" placeholder="" data-suggester="fullscreen_suggester"></textarea>
    </div>
  </div>
  <div class="fullscreen-sidebar">
    <a href="#" class="exit-fullscreen js-exit-fullscreen tooltipped tooltipped-w" aria-label="Exit Zen Mode">
      <span class="mega-octicon octicon-screen-normal"></span>
    </a>
    <a href="#" class="theme-switcher js-theme-switcher tooltipped tooltipped-w"
      aria-label="Switch themes">
      <span class="octicon octicon-color-mode"></span>
    </a>
  </div>
</div>



    <div id="ajax-error-message" class="flash flash-error">
      <span class="octicon octicon-alert"></span>
      <a href="#" class="octicon octicon-remove-close close js-ajax-error-dismiss"></a>
      Something went wrong with that request. Please try again.
    </div>

  </body>
</html>

